<h2>Dice Roll</h2>

<ul>
  <li><a href="<%=url_for(controller: 'dice', action: '2d6')%>">Roll two 6-sided dice</a></li>
  <li><a href="<%=url_for(controller: 'dice', action: '2d10')%>">Roll two 10-sided dice</a></li>
  <li><a href="<%=url_for(controller: 'dice', action: '1d20')%>">Roll one 20-sided die</a></li>
  <li><a href="<%=url_for(controller: 'dice', action: '5d4')%>">Roll five 4-sided dice</a></li>
</ul>
